<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
</head>
<body>
	<!-- splash -->
	<div class="splash-title" id="splash" th:fragment="splash">
		<h1>MOBITRANS - MOBILE BANKING SYSTEME</h1>
		<p>Merci de patienter, traitement en cours....</p>
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>
</body>
</html>